services:
  web:
    image: ghcr.io/karakeep-app/karakeep:0.30.0
    restart: unless-stopped
    volumes:
      # By default, the data is stored in a docker volume called "data".
      # If you want to mount a custom directory, change the volume mapping to:
      # - /path/to/your/directory:/data
      - /mnt/Vault/Configuration/katakeep/data:/data
    ports:
      - 3030:3000
    environment:
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      MEILI_ADDR: http://meilisearch:7700
      BROWSER_WEB_URL: http://chrome:9222
      OLLAMA_BASE_URL: http://ollama:11434
      INFERENCE_TEXT_MODEL: gemma3
      INFERENCE_IMAGE_MODEL: llava
      INFERENCE_LANG: english
      INFERENCE_ENABLE_AUTO_TAGGING: true
      INFERENCE_ENABLE_AUTO_SUMMARIZATION: true
      CRAWLER_STORE_PDF: true
      OTEL_TRACING_ENABLED: true
      # OPENAI_API_KEY: ... # Unused - use ollama for local analysis

      # You almost never want to change the value of the DATA_DIR variable.
      # If you want to mount a custom directory, change the volume mapping above instead.
      DATA_DIR: /data # DON'T CHANGE THIS
  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
  meilisearch:
    image: getmeili/meilisearch:v1.22.3
    restart: unless-stopped
    ports:
      - 7700:7700
    environment:
      MEILI_NO_ANALYTICS: "true"
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
    volumes:
      - /mnt/Vault/Configuration/katakeep/meilisearch:/meili_data
    ### Uncomment the below command after taking a meilisearch dump to upgrade the db.
    ### https://www.meilisearch.com/docs/learn/data_backup/dumps
    ### https://www.meilisearch.com/docs/guides/docker#generating-dumps-and-updating-meilisearch
    # command:
    #   - "meilisearch --import-dump /meili_data/dumps/"

  ollama: # CPU based LLM for processing bookmarks
    image: ollama/ollama:0.16.1

volumes:
  meilisearch:
  data: